<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/dashboard.css" />
</head>
<body>
<div class="sidebar">
    <div class="sidebar-header">
        <h2>Small Tech<br><span class="offset">&amp; Company</span></h2>
        <p class="time-manager-text">TimeManager</p>
            
        <div class="search">
            <input type="text" placeholder="Search...">
        </div>
    </div>

    <div class="sidebar-nav">
        <ul>
            <li><a asp-area="Zeiterfassung" asp-controller="Zeiterfassung" asp-action="Zeiterfassung">Zeiterfassung</a></li>
            <li><a href="#">Roles</a></li>
            <li><a href="#">Vacation Time</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </div>
    <div class="logout">
        <a class="logout-link nav-link" asp-area="" asp-controller="" asp-action="">
            <i class="fas fa-sign-out-alt me-2"></i> Log out
        </a>
    </div>
</div>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>