#############################
# Build & Runtime Artefakte #
#############################
bin/
obj/
publish/
*.exe
*.dll
*.pdb
*.cache
*.log

#######################
# IDE / Editor Files  #
#######################
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.iml

#########################
# OS-spezifische Dateien #
#########################
.DS_Store
Thumbs.db

##########################
# Rider- & Temp-Ordner   #
##########################
.idea/
*.iml
*.tmp
*.temp
*.bak

###########################
# Paketverwaltung (NuGet) #
###########################
packages/
project.lock.json
project.fragment.lock.json

###########################
# Datenbank #
###########################
App_Data/*.db
App_Data/*.sqlite
App_Data/*.sqlite3
/App_Data/app.db-shm
/App_Data/app.db-wal
