@{
    ViewData["Title"] = "Login";
}

<link href="~/css/login.css" rel="stylesheet" />


<div class="login-container">
    <div class="left-side">
        <div class="branding">
            <h2 class="branding branding-logo">Small Tech<br>&amp; Company</h2>
            <div class="slogan">
                <p class="plus">+</p>
                <h3>Automation.<br>Precision.<br>Progress.</h3>
                <p class="description">
                    From concept to production — we build the machines<br>
                    that move industries forward.
                </p>
            </div>
        </div>
    </div>

    <div class="right-side">
        <div class="form-container">
            <h2>Welcome back!</h2>
            <p class="subtitle">Sign in to continue</p>
            <form method="post" asp-action="Login">
                <input type="text" name="username" placeholder="Username or Email address" required />
                <input type="password" name="password" placeholder="Password" required />
                <button type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>